@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* DEFAULT STRICT COLORS TAILWIND EXTENSIONS */
  --strict-blue-500: #6c47ff;

  --strict-dark-500: #1e1c26;
  --strict-dark-400: #252331;
  --strict-dark-300: #343145;
  --strict-dark-200: #666983;

  --strict-white-500: #ffffff;
  --strict-white-400: #f5f5f6;
  --strict-white-300: #eaeaec;
  --strict-white-200: #d8d8db;

  --strict-text-dark-500: #181e29;
  --strict-text-dark-400: #252331;
  --strict-text-dark-300: #343145;
  --strict-text-dark-200: #666983;

  --strict-text-white-500: #ffffff;
  --strict-text-white-400: #f5f5f6;
  --strict-text-white-300: #eaeaec;
  --strict-text-white-200: #d8d8db;

  --strict-text-blue-500: #7048ff;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;

    /* LIGHT MODE TAILWIND EXTENSIONS */
    --app-blue-500: var(--strict-blue-500);
    --app-dark-500: var(--strict-dark-500);
    --app-dark-400: var(--strict-dark-400);
    --app-dark-300: var(--strict-dark-300);
    --app-dark-200: var(--strict-dark-200);
    --app-dark-100: var(--strict-dark-100);
    --app-white-500: var(--strict-white-500);
    --app-white-200: var(--strict-white-200);
    --app-text-dark-500: var(--strict-text-dark-500);
    --app-text-white-500: var(--strict-text-white-500);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --border: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    /* DARK MODE TAILWIND EXTENSIONS */
    --app-blue-500: #7048ff;

    --app-dark-500: var(--strict-white-500);
    --app-dark-400: var(--strict-white-400);
    --app-dark-300: var(--strict-white-300);
    --app-dark-200: var(--strict-white-200);

    --app-white-500: var(--strict-dark-500);
    --app-white-400: var(--strict-dark-400);
    /* --app-white-200: var(--strict-dark-500) */

    --app-text-dark-500: var(--strict-text-white-500);
    --app-text-dark-400: var(--strict-text-white-400);
    --app-text-dark-300: var(--strict-text-white-300);
    --app-text-dark-200: var(--strict-text-white-200);

    --app-text-white-500: var(--strict-text-dark-500);
    --app-text-white-400: var(--strict-text-dark-400);

    --app-text-blue-500: #7048ff;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
